html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f1f1f1; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  transition: color 0.4s; }

h5 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.5vw;
  font-weight: normal;
  text-align: center;
  margin: 0; }

p, li, ul {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif; }

header {
  width: 100%;
  padding: 20px;
  background-color: #2c2c2c;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19); }
  header a {
    color: white;
    font-family: "Montserrat", sans-serif; }
    header a:hover {
      color: #27acb0; }

nav {
  float: right; }
  nav a {
    margin-left: 10px; }
  nav a.activepage {
    color: #71cacc; }
    nav a.activepage:hover {
      color: #27acb0; }

footer {
  vertical-align: top;
  padding: 17px;
  text-align: center;
  background-color: #2c2c2c;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  height: 52px; }
  footer a {
    vertical-align: top;
    color: #27acb0; }
    footer a:hover {
      color: white; }
  footer img {
    position: relative;
    top: -5px;
    padding: 0 5px; }

.wrapper {
  min-height: 100%;
  margin-bottom: -52px; }

.clear {
  height: 52px;
  width: 100%; }

.heading {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  background-color: #2c2c2c;
  padding: 20px;
  transform: skewX(-20deg);
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12); }
  .heading p {
    background-color: #27acb0;
    display: inline;
    padding: 22px 8%;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 150%; }

#homebanner {
  background-image: url(img/bg.png);
  height: 50vh;
  width: 100%;
  background-position: center;
  background-size: 100% 50vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 60px; }
  #homebanner p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.5vw;
    text-align: center;
    padding: 10px 0;
    position: relative; }
    #homebanner p::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      content: " ";
      width: 37vw;
      height: 3px;
      background-color: white; }
    #homebanner p::after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      content: " ";
      width: 37vw;
      height: 3px;
      background-color: white; }
  #homebanner::after {
    content: " ";
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 40px;
    background-color: #71cacc; }

.maintext {
  max-width: 100%;
  width: 700px;
  padding: 0 20px;
  margin: 0 auto; }

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.services {
  margin-top: 50px; }
  .services div {
    margin: 20px;
    width: 400px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }
    .services div * {
      color: #494442; }
    .services div p, .services div ul:last-of-type {
      padding: 0 15px 15px 15px; }
    .services div li {
      margin-left: 20px; }
    .services div p:first-child {
      margin: 0;
      font-family: "Open Sans", sans-serif;
      color: #27acb0;
      font-size: 130%;
      text-align: center;
      background-color: #2c2c2c;
      padding: 10px 0;
      margin-bottom: 15px; }

/*# sourceMappingURL=stylesheet.css.map */
