
//	Color Scheme
$main-color: rgb(39, 172, 176)
$main-light: rgba(113, 202, 204, 1)
$grey: rgba(44, 44, 44, 1)

// Fonts
$bold: 'Montserrat', Impact
$body: 'Open Sans', sans-serif
$thin: 'Open Sans Condensed', sans-serif

html, body
	width: 100%
	padding: 0
	margin: 0

*
	box-sizing: border-box

a
	text-decoration: none
	transition: color .4s

p
	line-height: 1.4

header
	width: 100%
	padding: 20px
	background-color: $grey
	a
		color: white
		font-family: $bold
		&:hover
			color: $main-color
nav
	float: right
	a
		margin-left: 10px







#homebanner
	background-image: url(img/bg.jpg)
	height: 50vh
	width: 100%
	background-position: center
	background-size: 100% 50vh
	background-repeat: no-repeat
	display: flex
	flex-direction: column
	justify-content: center
	p
		color: white
		font-family: $bold
		text-transform: uppercase
		font-size: 3.5vw
		width: 900px
		max-width: 90%
		margin: 0 auto
		text-align: center
		padding: 20px 0
		&:before
			content: ""
			width: 90%
			height: 3px
			background-color: white